.header {
    height: 78px;
}

.navigation ul {
    list-style: none;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2.7px;
}

.navigation li {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
}

.navigation__link {
    display: inline-block;
    margin-right: 72px;
}

.navigation__link a {
    text-decoration: none;
    color: #FF0000;

}

.picture {
    width: 100%;
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 49px;
}

.head {
    text-align: center;
    font-weight: 700;
    height: 29px;
    margin-top: 0;
    margin-bottom: 38px;
    font-size: 22px;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
}

.content__text {
    text-align: center;
    margin: 0 64px;
    font-size: 16px;
    font-style: normal;
    color: #373737;
}

.content__text:not(:last-of-type) {
    margin-bottom: 28px;
}
.content {
    margin-bottom: 66px;
    letter-spacing: 2.4px;
    line-height: 26px;
    font-weight: 400;
}
.button {
    margin: 0 auto 82px;
    display: block;
    font-weight: 700;
    width: 191px;
    text-decoration: none;
    height: 16px;
    padding: 18px 44px 17px;
    border-radius: 4px;
    background: #FF0000;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-align: center;

}

.footer {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    width: 462px;
    height: 39px;
    margin: 0 105px 29px auto;
    color: #373737;
    letter-spacing: 2.4px;
}

body {
    margin: 0;
    font-family: Monsterrat, sans-serif;
}




